# Python / FastAPI (Backend)
__pycache__/
*.pyc
venv/
.venv/
env/
*.env.local
.env.*.local

# Node.js / React (Frontend)
node_modules/
build/
dist/
.npm
npm-debug.log*
yarn-error.log
# package-lock.json (팀원 간 버전 통일을 위해 주석 처리)

# OS specific
.DS_Store
Thumbs.db

# === SECRETS ===
# (절대 깃허브에 올리지 마세요!)
.env
frontend/.env

backend/data/cpu_data.csv
backend/data/originals/*