.system-info-container {
  width: 100%;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between rows */
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.info-key {
  color: var(--text-light);
}

.info-value {
  color: var(--text-dark);
  font-weight: 600;
}
